$White: hsl(0, 0%, 100%);
$LightGray: hsl(212, 45%, 89%);
$GrayishBlue: hsl(220, 15%, 55%);
$DarkBlue: hsl(218, 44%, 22%);

@font-face {
  font-family: Outfit;
  src: url(../../fonts/Outfit-VariableFont_wght.ttf);
}

html {
  height: 100%;
  background-color: $LightGray;
}

body {
  margin: 0;
  font-family: Outfit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 100%;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 16px;

  a {
    color: hsl(228, 45%, 44%);
  }
}

#qr-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  #qr-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    background-color: #fff;
    border-radius: 4%;
    width: 256px;
    text-align: center;

    #qr-image {
      img {
        border-radius: 4%;
        max-width: 100%;
      }
    }
    #qr-header {
      margin-top: 8px;
      font-weight: 700;
      color: $DarkBlue;

      h1 {
        font-size: 20px;
      }
    }
    #qr-description {
      padding-left: 16px;
      padding-right: 16px;
      padding-bottom: 32px;
      font-weight: 400;
      font-size: 14px;
      color: $GrayishBlue;
    }
  }
}
